ENV=local
APP_NAME=philosopher-server
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.hanbvryzqpnnivbkqlji.supabase.co:5432/postgres
SUPABASE_URL=https://hanbvryzqpnnivbkqlji.supabase.co
SUPABASE_JWT_AUDIENCE=authenticated
OPENAI_API_KEY=
CORS_ORIGINS=http://localhost:3002
